html, body {
  text-align:center;
  background:#B4B8C5;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
*{
  margin:0;
  padding:0;
}
.centerFlex{
  display:flex;
  justify-content:center;
}
#header{
  display:flex;
  position:fixed;
  width:100%;
  background-color:#012A36;
  top:0;
  align-items: center;
  height:80px;
}
.navBox{
  display:flex;
  flex:1;
  justify-content:space-around;
}
#nav-bar {
  background:auto;
  flex:2;
}
#nav-bar a{
  font-size:14px;
  color: #E9EBF8;
  text-decoration:none;
}
#nav-bar a:hover{
  color: #A4A8B4;
}
h1 {
  color:#012A36;
  margin-top:120px;
  margin-bottom:40px;
}
.fa {
    padding: 10px;
    width: 35px;
    text-decoration: none;
    border-radius:2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
#video{
  border:solid #A4A8B4 5px;
  border-radius:5px;
  margin:5vw;
}
#video-med{
  display:none;
  border:solid #A4A8B4 5px;
  border-radius:5px;
  margin:5vw;
}
#video-small{
  display:none;
  border:solid #A4A8B4 5px;
  border-radius:5px;
  margin:5vw;
}
#video-section{
  margin-top:50px;
  margin-bottom:-50px;
}
#header-img{
  height:70px;
}
#catPics{
  display: grid;
  justify-items: center;
  align-items:center;
  padding:10px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  grid-gap:20px;
}
.imgGrid{
  display:block;
  justify-self:center;
  object-fit:cover;
}
.imgGrid img{
  width:90%;
  margin:10px;
  border:#A4A8B4 solid 5px;
  border-radius:5px;
}
#aboutUs{
  display:flex;
  align-items:center;
  flex-direction:column;
}
#aboutUsText{
  text-align:left;
  width:80%;
  background:#9497A2;
  border-radius:5px;
  padding:10px;
}
#aboutUsText ul{
  float:left;
  margin-left:30px;
  margin-top:20px;
}
#form{
  background:#012A36;
  width:280px;
  padding:10px;
  border-radius:5px;
  display:flex;
  flex-direction:column;
  height:140px;
  align-items:center;
  margin-top:50px;
  margin-bottom:50px;
}
.formEl{
  flex:1;
  margin:10px;
}
form a {
  color:white;
}
#email {
  background-color:#5D777F;
  color:black;
  border:none;
  border-radius:1px;
  width:100%;
}
::placeholder{
  color:black;
  text-align:center;
}
footer{
  display:flex;
  
  background-color:#012A36;
  height:50px;
  justify-content:space-between;
  
}
footer p{
  color: #E9EBF8;
  font-size:12px;
}
.footer-content{
  align-self:center;
  margin-left:20px;
  margin-right:20px;
}
#icons-small{
  display:none;
}
#icons-med{
  display:none;
}
@media (max-width:480px){
  #catPics{
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .imgGrid{
    width:70%;
  }
  #nav-bar a{
  font-size:8px;
  color: #E9EBF8;
  text-decoration:none;
}
  #header{
    height:40px;
  }
  #header-img{
    height:20px;
  }
  #video{
    display:none;
  }
  #video-small{
    display:block;
  }
  .fa {
    padding: 4px;
    width: 10px;
    height:10px;
  }
  #icons{
    display:none;
  }
  #icons-small{
    display:block;
  }
}
@media (min-width: 481px) and (max-width: 767px){
  #catPics{
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  #nav-bar a{
  font-size:10px;
  color: #E9EBF8;
  text-decoration:none;
}
  #header{
    height:40px;
  }
  #header-img{
    height:30px;
  }
  .fa {
    padding: 8px;
    width: 15px;
    height:10px;
  }
  #icons{
    display:none;
  }
  #icons-med{
    display:block;
  }
}